.wrapper {
    .container {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin: 0.1rem auto;
        max-width: 400px;
    }

    & .events {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}