@use "./base/clearDefault" as *;
@use"./base/colors" as colors;
@use "./base/typography" as *;

body npm i react-iconsn{
    background-color: colors.$bg-100;
    color: colors.$text-100;
    font-family: text, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.addButton {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: none;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: white;
    display: grid;
    place-items: center;
}