@use "../../styles/base/colors" as c;

.wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    background-color: c.$primary-100;
    color: c.$primary-200;
    padding-inline: 1rem;

    &nav {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-items: center;

        & a.link {
            text-decoration: none;
            color: c.$primary-300;
            display: flex;
            align-items: center;
            gap: 0.1rem;
        }
    }
}