@font-face {
    font-family: title;
    src: url("./Honk-Regular-VariableFont_MORF\,SHLN.ttf")
}
@font-face {
    font-family: text;
    src: url("./BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf");
}